## ANN & CNN

### Q.1) Use the Dataset named HR Interview Analytics to predict the Status of the candidate (0 is not accepted and 1 is accepted). Build an Artificial Neural Network to predict the Status

In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\lenovo\anaconda3\lib\site-packages (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.29.0)
Requirement already satisfied: six>=1.12.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.16.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (4.3.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.51.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.6.3)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (14.0.6)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.14.1)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.1.1)
Requirement already satisfied: packaging in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (21.3)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.19.6)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (22.12.6)
Requirement already satisfied: numpy>=1.20 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.21.5)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.3.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.3.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.7.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: setuptools in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (63.4.1)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.4.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\lenovo\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow) (0.37.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.3)
Requirement already satisfied: markdown>=2.6.8 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.28.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\lenovo\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.11.0->tensorflow) (3.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (5.2.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\lenovo\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2022.9.24)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\lenovo\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.2.2)

#### Importing Necessary Libraries

In [2]:
import tensorflow as tf
import pandas as pd

#### Checking the version of tensorflow

In [3]:
tf.__version__

'2.11.0'

#### Importing the dataset and viewing it

In [4]:
hr_interview = pd.read_csv(r"C:\Users\lenovo\Desktop\Data Set\HR Interview Analytics.csv")
hr_interview.head()

,SLNO,Candidate.Ref,DOJ.Extended,Duration.to.accept.offer,Notice.period,Offered.band,Pecent.hike.expected.in.CTC,Percent.hike.offered.in.CTC,Percent.difference.CTC,Joining.Bonus,Candidate.relocate.actual,Gender,Candidate.Source,Rex.in.Yrs,LOB,Location,Age,Status
0,1,2110407,Yes,14,30,E2,-20.79,13.16,42.86,No,No,Female,Agency,7,ERS,Noida,34,1
1,2,2112635,No,18,30,E2,50.00,320.00,180.00,No,No,Male,Employee Referral,8,INFRA,Chennai,34,1
2,3,2112838,No,3,45,E2,42.84,42.84,0.00,No,No,Male,Agency,4,INFRA,Noida,27,1
3,4,2115021,No,26,30,E2,42.84,42.84,0.00,No,No,Male,Employee Referral,4,INFRA,Noida,34,1
4,5,2115125,Yes,1,120,E2,42.59,42.59,0.00,No,Yes,Male,Employee Referral,6,INFRA,Noida,34,1

#### Checking for null values in dataset

In [5]:
hr_interview.isnull().sum()

SLNO                           0
Candidate.Ref                  0
DOJ.Extended                   0
Duration.to.accept.offer       0
Notice.period                  0
Offered.band                   0
Pecent.hike.expected.in.CTC    0
Percent.hike.offered.in.CTC    0
Percent.difference.CTC         0
Joining.Bonus                  0
Candidate.relocate.actual      0
Gender                         0
Candidate.Source               0
Rex.in.Yrs                     0
LOB                            0
Location                       0
Age                            0
Status                         0
dtype: int64

#### Collecting the information of dataset

In [6]:
hr_interview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9011 entries, 0 to 9010
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SLNO                         9011 non-null   int64
 1   Candidate.Ref                9011 non-null   int64
 2   DOJ.Extended                 9011 non-null   object
 3   Duration.to.accept.offer     9011 non-null   int64
 4   Notice.period                9011 non-null   int64
 5   Offered.band                 9011 non-null   object
 6   Pecent.hike.expected.in.CTC  9011 non-null   float64
 7   Percent.hike.offered.in.CTC  9011 non-null   float64
 8   Percent.difference.CTC       9011 non-null   float64
 9   Joining.Bonus                9011 non-null   object
 10  Candidate.relocate.actual    9011 non-null   object
 11  Gender                       9011 non-null   object
 12  Candidate.Source             9011 non-null   object
 13  Rex.in.Yrs                   9011 non-null   int64
 14  LOB                          9011 non-null   object
 15  Location                     9011 non-null   object
 16  Age                          9011 non-null   int64
 17  Status                       9011 non-null   int64
dtypes: float64(3), int64(7), object(8)
memory usage: 1.2+ MB

#### Creating dummy variables for all catagorical columns

In [7]:
## Lets create the dummy variables for all the categorical columns
cat_col = ['DOJ.Extended','Offered.band','Joining.Bonus','Candidate.relocate.actual','Gender','Candidate.Source','LOB','Location']
hr_interview_final = pd.get_dummies(hr_interview,columns=cat_col,drop_first=True)
hr_interview_final.head()

,SLNO,Candidate.Ref,Duration.to.accept.offer,Notice.period,Pecent.hike.expected.in.CTC,Percent.hike.offered.in.CTC,Percent.difference.CTC,Rex.in.Yrs,Age,Status,...,Location_Bangalore,Location_Chennai,Location_Cochin,Location_Gurgaon,Location_Hyderabad,Location_Kolkata,Location_Mumbai,Location_Noida,Location_Others,Location_Pune
0,1,2110407,14,30,-20.79,13.16,42.86,7,34,1,...,0,0,0,0,0,0,0,1,0,0
1,2,2112635,18,30,50.00,320.00,180.00,8,34,1,...,0,1,0,0,0,0,0,0,0,0
2,3,2112838,3,45,42.84,42.84,0.00,4,27,1,...,0,0,0,0,0,0,0,1,0,0
3,4,2115021,26,30,42.84,42.84,0.00,4,34,1,...,0,0,0,0,0,0,0,1,0,0
4,5,2115125,1,120,42.59,42.59,0.00,6,34,1,...,0,0,0,0,0,0,0,1,0,0

#### Checking for unique values in target column

In [8]:
hr_interview_final['Status'].nunique()

2

#### Removing Unwanted Columns

In [9]:
# We will remove SLNO and Candidate.Ref for the model building step. As it will be unique for every Candidate
hr_interview_final1 = hr_interview_final.drop(columns=['SLNO','Candidate.Ref'])

#### Checking the shape of Dataset

In [10]:
hr_interview_final.shape

(9011, 37)

In [11]:
hr_interview_final1.shape

(9011, 35)

In [12]:
# Identifying target variable and inputs
y = hr_interview_final1[['Status']]
x = hr_interview_final1.drop(columns=['Status'])

#### Splitting the dataset and Importing library

In [13]:
## Importing the library
from sklearn.model_selection import train_test_split

In [14]:
## Splitting the data into Train and Test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [15]:
## Checking the length of the X and Y train
len(x_train),len(x_test),len(y_train),len(y_test)

(7208, 1803, 7208, 1803)

### Building the Model
### Step 1: Initialising the model and creating the input layer

In [16]:
ann = tf.keras.models.Sequential()

### Step 2: Creating the first hidden layer

In [17]:
## Considering hidden unit layers as 6
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Step 3: Creating the second hidden layer

In [18]:
## Considering hidden unit layers as 6
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Step 4: Creating the output layer

In [19]:
#The number of units in output column should be n-1, where n is the number of categories in output column
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

### Step 5: Compiling the model

In [20]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

### Step 6: Fitting the data

In [21]:
model = ann.fit(x_train,y_train,validation_split=0.2,batch_size=32,epochs=100)

Epoch 1/100
181/181 [==============================] - 3s 6ms/step - loss: 0.7515 - accuracy: 0.7175 - val_loss: 0.5308 - val_accuracy: 0.8003
Epoch 2/100
181/181 [==============================] - 1s 3ms/step - loss: 0.5049 - accuracy: 0.8141 - val_loss: 0.5102 - val_accuracy: 0.7968
Epoch 3/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4873 - accuracy: 0.8141 - val_loss: 0.4976 - val_accuracy: 0.8024
Epoch 4/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4786 - accuracy: 0.8158 - val_loss: 0.4906 - val_accuracy: 0.8037
Epoch 5/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4734 - accuracy: 0.8158 - val_loss: 0.4911 - val_accuracy: 0.8037
Epoch 6/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4687 - accuracy: 0.8146 - val_loss: 0.4825 - val_accuracy: 0.8072
Epoch 7/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4645 - accuracy: 0.8156 - val_loss: 0.4807 - val_accuracy: 0.8051
Epoch 8/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4619 - accuracy: 0.8163 - val_loss: 0.4828 - val_accuracy: 0.8044
Epoch 9/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4597 - accuracy: 0.8160 - val_loss: 0.4764 - val_accuracy: 0.8086
Epoch 10/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4547 - accuracy: 0.8169 - val_loss: 0.4731 - val_accuracy: 0.8051
Epoch 11/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4531 - accuracy: 0.8174 - val_loss: 0.4707 - val_accuracy: 0.8079
Epoch 12/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4503 - accuracy: 0.8189 - val_loss: 0.4713 - val_accuracy: 0.8044
Epoch 13/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4470 - accuracy: 0.8172 - val_loss: 0.4684 - val_accuracy: 0.8031
Epoch 14/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4440 - accuracy: 0.8195 - val_loss: 0.4667 - val_accuracy: 0.8044
Epoch 15/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4432 - accuracy: 0.8177 - val_loss: 0.4605 - val_accuracy: 0.8100
Epoch 16/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4403 - accuracy: 0.8191 - val_loss: 0.4636 - val_accuracy: 0.8044
Epoch 17/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4352 - accuracy: 0.8188 - val_loss: 0.4589 - val_accuracy: 0.8072
Epoch 18/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4314 - accuracy: 0.8174 - val_loss: 0.4595 - val_accuracy: 0.8065
Epoch 19/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4298 - accuracy: 0.8202 - val_loss: 0.4597 - val_accuracy: 0.8044
Epoch 20/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4274 - accuracy: 0.8202 - val_loss: 0.4557 - val_accuracy: 0.8031
Epoch 21/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4248 - accuracy: 0.8217 - val_loss: 0.4523 - val_accuracy: 0.8037
Epoch 22/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4230 - accuracy: 0.8202 - val_loss: 0.4544 - val_accuracy: 0.8065
Epoch 23/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4204 - accuracy: 0.8247 - val_loss: 0.4502 - val_accuracy: 0.8107
Epoch 24/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4185 - accuracy: 0.8228 - val_loss: 0.4517 - val_accuracy: 0.8044
Epoch 25/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4193 - accuracy: 0.8191 - val_loss: 0.4493 - val_accuracy: 0.8093
Epoch 26/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4160 - accuracy: 0.8226 - val_loss: 0.4471 - val_accuracy: 0.8058
Epoch 27/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4168 - accuracy: 0.8231 - val_loss: 0.4464 - val_accuracy: 0.8086
Epoch 28/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4144 - accuracy: 0.8228 - val_loss: 0.4455 - val_accuracy: 0.8086
Epoch 29/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4140 - accuracy: 0.8203 - val_loss: 0.4442 - val_accuracy: 0.8107
Epoch 30/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4150 - accuracy: 0.8221 - val_loss: 0.4450 - val_accuracy: 0.8065
Epoch 31/100
181/181 [==============================] - 0s 3ms/step - loss: 0.4126 - accuracy: 0.8203 - val_loss: 0.4419 - val_accuracy: 0.8072
Epoch 32/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4115 - accuracy: 0.8219 - val_loss: 0.4431 - val_accuracy: 0.8114
Epoch 33/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4112 - accuracy: 0.8191 - val_loss: 0.4460 - val_accuracy: 0.8100
Epoch 34/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4104 - accuracy: 0.8238 - val_loss: 0.4444 - val_accuracy: 0.8086
Epoch 35/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4103 - accuracy: 0.8207 - val_loss: 0.4388 - val_accuracy: 0.8086
Epoch 36/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4114 - accuracy: 0.8217 - val_loss: 0.4537 - val_accuracy: 0.8044
Epoch 37/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4104 - accuracy: 0.8217 - val_loss: 0.4442 - val_accuracy: 0.8079
Epoch 38/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4125 - accuracy: 0.8195 - val_loss: 0.4476 - val_accuracy: 0.8051
Epoch 39/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4100 - accuracy: 0.8188 - val_loss: 0.4415 - val_accuracy: 0.8107
Epoch 40/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4085 - accuracy: 0.8231 - val_loss: 0.4403 - val_accuracy: 0.8107
Epoch 41/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4097 - accuracy: 0.8215 - val_loss: 0.4371 - val_accuracy: 0.8093
Epoch 42/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4087 - accuracy: 0.8208 - val_loss: 0.4426 - val_accuracy: 0.8072
Epoch 43/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4076 - accuracy: 0.8215 - val_loss: 0.4412 - val_accuracy: 0.8107
Epoch 44/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4076 - accuracy: 0.8207 - val_loss: 0.4377 - val_accuracy: 0.8100
Epoch 45/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4075 - accuracy: 0.8215 - val_loss: 0.4383 - val_accuracy: 0.8121
Epoch 46/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4071 - accuracy: 0.8224 - val_loss: 0.4358 - val_accuracy: 0.8107
Epoch 47/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4058 - accuracy: 0.8214 - val_loss: 0.4485 - val_accuracy: 0.8017
Epoch 48/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4085 - accuracy: 0.8212 - val_loss: 0.4440 - val_accuracy: 0.8031
Epoch 49/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4078 - accuracy: 0.8208 - val_loss: 0.4359 - val_accuracy: 0.8100
Epoch 50/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4059 - accuracy: 0.8222 - val_loss: 0.4417 - val_accuracy: 0.8086
Epoch 51/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4064 - accuracy: 0.8207 - val_loss: 0.4394 - val_accuracy: 0.8128
Epoch 52/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4055 - accuracy: 0.8205 - val_loss: 0.4427 - val_accuracy: 0.8093
Epoch 53/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4068 - accuracy: 0.8222 - val_loss: 0.4336 - val_accuracy: 0.8114
Epoch 54/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4051 - accuracy: 0.8236 - val_loss: 0.4342 - val_accuracy: 0.8107
Epoch 55/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4053 - accuracy: 0.8214 - val_loss: 0.4386 - val_accuracy: 0.8079
Epoch 56/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4056 - accuracy: 0.8207 - val_loss: 0.4425 - val_accuracy: 0.8107
Epoch 57/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4061 - accuracy: 0.8210 - val_loss: 0.4356 - val_accuracy: 0.8086

Epoch 58/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4045 - accuracy: 0.8207 - val_loss: 0.4345 - val_accuracy: 0.8107
Epoch 59/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4038 - accuracy: 0.8212 - val_loss: 0.4390 - val_accuracy: 0.8093
Epoch 60/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4042 - accuracy: 0.8229 - val_loss: 0.4370 - val_accuracy: 0.8128
Epoch 61/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4064 - accuracy: 0.8215 - val_loss: 0.4341 - val_accuracy: 0.8128
Epoch 62/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4062 - accuracy: 0.8202 - val_loss: 0.4336 - val_accuracy: 0.8086
Epoch 63/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4040 - accuracy: 0.8231 - val_loss: 0.4332 - val_accuracy: 0.8114
Epoch 64/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4034 - accuracy: 0.8236 - val_loss: 0.4358 - val_accuracy: 0.8100
Epoch 65/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4035 - accuracy: 0.8224 - val_loss: 0.4390 - val_accuracy: 0.8128
Epoch 66/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4059 - accuracy: 0.8219 - val_loss: 0.4336 - val_accuracy: 0.8135
Epoch 67/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4036 - accuracy: 0.8215 - val_loss: 0.4347 - val_accuracy: 0.8114
Epoch 68/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4035 - accuracy: 0.8229 - val_loss: 0.4337 - val_accuracy: 0.8128
Epoch 69/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4024 - accuracy: 0.8238 - val_loss: 0.4352 - val_accuracy: 0.8093
Epoch 70/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4044 - accuracy: 0.8219 - val_loss: 0.4360 - val_accuracy: 0.8100
Epoch 71/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4047 - accuracy: 0.8215 - val_loss: 0.4327 - val_accuracy: 0.8141
Epoch 72/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4035 - accuracy: 0.8219 - val_loss: 0.4358 - val_accuracy: 0.8114
Epoch 73/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4025 - accuracy: 0.8224 - val_loss: 0.4400 - val_accuracy: 0.8051
Epoch 74/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4031 - accuracy: 0.8200 - val_loss: 0.4345 - val_accuracy: 0.8121
Epoch 75/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4023 - accuracy: 0.8219 - val_loss: 0.4396 - val_accuracy: 0.8114
Epoch 76/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4039 - accuracy: 0.8240 - val_loss: 0.4406 - val_accuracy: 0.8079
Epoch 77/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4020 - accuracy: 0.8250 - val_loss: 0.4383 - val_accuracy: 0.8107
Epoch 78/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4019 - accuracy: 0.8212 - val_loss: 0.4348 - val_accuracy: 0.8107
Epoch 79/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4018 - accuracy: 0.8212 - val_loss: 0.4362 - val_accuracy: 0.8058
Epoch 80/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4042 - accuracy: 0.8214 - val_loss: 0.4400 - val_accuracy: 0.8086
Epoch 81/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4028 - accuracy: 0.8203 - val_loss: 0.4376 - val_accuracy: 0.8072
Epoch 82/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4021 - accuracy: 0.8217 - val_loss: 0.4334 - val_accuracy: 0.8135
Epoch 83/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4019 - accuracy: 0.8231 - val_loss: 0.4323 - val_accuracy: 0.8093
Epoch 84/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4027 - accuracy: 0.8233 - val_loss: 0.4356 - val_accuracy: 0.8100
Epoch 85/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4020 - accuracy: 0.8236 - val_loss: 0.4351 - val_accuracy: 0.8114
Epoch 86/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4022 - accuracy: 0.8215 - val_loss: 0.4344 - val_accuracy: 0.8058
Epoch 87/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4014 - accuracy: 0.8208 - val_loss: 0.4342 - val_accuracy: 0.8100
Epoch 88/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4020 - accuracy: 0.8219 - val_loss: 0.4312 - val_accuracy: 0.8093
Epoch 89/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4034 - accuracy: 0.8212 - val_loss: 0.4328 - val_accuracy: 0.8107
Epoch 90/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4031 - accuracy: 0.8233 - val_loss: 0.4345 - val_accuracy: 0.8121
Epoch 91/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4027 - accuracy: 0.8236 - val_loss: 0.4326 - val_accuracy: 0.8100
Epoch 92/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4006 - accuracy: 0.8231 - val_loss: 0.4369 - val_accuracy: 0.8114
Epoch 93/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4011 - accuracy: 0.8215 - val_loss: 0.4338 - val_accuracy: 0.8114
Epoch 94/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4013 - accuracy: 0.8215 - val_loss: 0.4288 - val_accuracy: 0.8086
Epoch 95/100
181/181 [==============================] - 1s 4ms/step - loss: 0.4026 - accuracy: 0.8233 - val_loss: 0.4368 - val_accuracy: 0.8114
Epoch 96/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4010 - accuracy: 0.8202 - val_loss: 0.4302 - val_accuracy: 0.8100
Epoch 97/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4015 - accuracy: 0.8229 - val_loss: 0.4311 - val_accuracy: 0.8155
Epoch 98/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4005 - accuracy: 0.8217 - val_loss: 0.4374 - val_accuracy: 0.8058
Epoch 99/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4015 - accuracy: 0.8221 - val_loss: 0.4306 - val_accuracy: 0.8141
Epoch 100/100
181/181 [==============================] - 1s 3ms/step - loss: 0.4001 - accuracy: 0.8219 - val_loss: 0.4338 - val_accuracy: 0.8128

### As their is no much difference inTraining Accuracy & Validation Accuracy it can be said that their is no overfitting condition in data
### Prediction on test data

In [22]:
y_test['Prediction'] = ann.predict(x_test)

57/57 [==============================] - 0s 2ms/step

In [23]:
y_test

      Status  Prediction
93         0    0.962819
7272       1    0.938603
447        1    0.898908
6519       0    0.649237
3898       0    0.496188
...      ...         ...
8671       1    0.768776
111        1    0.659915
8742       1    0.999466
7596       1    0.907553
2215       0    0.873531

[1803 rows x 2 columns]

In [24]:
y_test['Prediction'] = y_test["Prediction"]>0.5
y_test.head()

      Status  Prediction
93         0        True
7272       1        True
447        1        True
6519       0        True
3898       0       False

In [25]:
y_test['Prediction'] = y_test['Prediction'].astype('int')
y_test.head()

      Status  Prediction
93         0           1
7272       1           1
447        1           1
6519       0           1
3898       0           0

#### Importing the library

In [26]:
from sklearn.metrics import accuracy_score,confusion_matrix

#### Printing the Accuracy Score

In [27]:
print(accuracy_score(y_test['Status'],y_test['Prediction']))

0.8236272878535774

#### Printing the Confusion Matrix

In [28]:
print(confusion_matrix(y_test['Status'],y_test['Prediction']))

[[  50  287]
 [  31 1435]]

                          - - - - - - - - X X X X X X X X - - - - - - - -

### Q. 2) Use the below given url to build a CNN model to predict whether the given image is dog or cat. You can use Kaggle notebooks to build the model. Once the model is build, take a random image of a cat or dog from the test data and predict it using the model.
( https://www.kaggle.com/tongpython/cat-and-dog )

#### Importing the necessary libraries

In [30]:
import tensorflow as tf
from keras.preprocessing.image import ImageDataGenerator

In [31]:
train_data_gen = ImageDataGenerator(rescale=1/255)
training_data = train_data_gen.flow_from_directory(r"C:\Users\lenovo\Desktop\training_set\training_set",
                                                   target_size=(64,64),batch_size=32,class_mode='binary')

Found 8005 images belonging to 2 classes.

In [32]:
test_data_gen = ImageDataGenerator(rescale=1/255)
test_data = test_data_gen.flow_from_directory(r"C:\Users\lenovo\Desktop\test_set\test_set",
                                                   target_size=(64,64),batch_size=32,class_mode='binary')

Found 2023 images belonging to 2 classes.

### Convolutional Neural Network ( CNN )

### Step 1: Initialising the model and creating the input layer

In [33]:
cnn = tf.keras.models.Sequential()

### Step 2: Creating the first hidden layer

In [34]:
## Convolution
cnn.add(tf.keras.layers.Conv2D(filters=32,kernel_size=3,activation='relu'))

In [35]:
## Pooling
cnn.add(tf.keras.layers.MaxPool2D(pool_size=2,strides=2))

### Step 3: Creating the second hidden layer

In [36]:
## Convolution
cnn.add(tf.keras.layers.Conv2D(filters=32,kernel_size=3,activation='relu'))

## Pooling
cnn.add(tf.keras.layers.MaxPool2D(pool_size=2,strides=2))

In [37]:
## Flattening
cnn.add(tf.keras.layers.Flatten())

In [38]:
## Full connection
cnn.add(tf.keras.layers.Dense(units=128,activation='relu'))

### Step 4: Creating the output layer

In [39]:
## The number of units in output column should be n-1, where n is the number of categories in output column
cnn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

### Step 5: Compiling the model

In [40]:
cnn.compile(optimizer='adam',loss='binary_crossentropy',metrics='accuracy')

### Step 6: Fitting the data

In [41]:
cnn.fit(x=training_data,validation_data=test_data,epochs=5)

Epoch 1/5
251/251 [==============================] - 233s 923ms/step - loss: 0.6758 - accuracy: 0.5693 - val_loss: 0.6087 - val_accuracy: 0.6836
Epoch 2/5
251/251 [==============================] - 61s 242ms/step - loss: 0.5701 - accuracy: 0.7044 - val_loss: 0.5433 - val_accuracy: 0.7207
Epoch 3/5
251/251 [==============================] - 61s 243ms/step - loss: 0.4948 - accuracy: 0.7658 - val_loss: 0.5478 - val_accuracy: 0.7257
Epoch 4/5
251/251 [==============================] - 61s 243ms/step - loss: 0.4461 - accuracy: 0.7883 - val_loss: 0.5087 - val_accuracy: 0.7514
Epoch 5/5
251/251 [==============================] - 60s 241ms/step - loss: 0.3993 - accuracy: 0.8167 - val_loss: 0.5112 - val_accuracy: 0.7543

### Checking for proper output, loading image ( random ), Converting image to array & Expanding the image

#### Importing the libraries and validating image

In [42]:
## You can use or give path of any image from test dataset to classify weather it may be of cat or dog
import numpy as np
from keras.preprocessing import image
val_image = tf.keras.utils.load_img(r"C:\Users\lenovo\Desktop\test_set\test_set\cats\cat.4041.jpg",target_size=(64,64))
val_image = tf.keras.utils.img_to_array(val_image)
val_image = np.expand_dims(val_image,axis=0)

#### Checking for result

In [43]:
result = cnn.predict(val_image)
result

1/1 [==============================] - 0s 137ms/step

array([[0.]], dtype=float32)

#### Checking for no. 1 in array stands for

In [44]:
training_data.class_indices

{'cats': 0, 'dogs': 1}

                      - - - - - - - - X X X X X X X X - - - - - - - -

### Q. 3) Use the dataset named video_game_sales to predict the global sales, using artificial neural network. Use appropriate data preprocessing techniques to clean the data.

#### Importing necessary libraries

In [45]:
import tensorflow as tf
import pandas as pd

#### Importing the dataset & checking it

In [46]:
video_games_sales = pd.read_csv(r"C:\Users\lenovo\Desktop\Data Set\video_games_sales.csv")
video_games_sales.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

#### Checking the shape and Null values in dataset

In [47]:
## Checking Shape
video_games_sales.shape

(16719, 16)

In [48]:
## Checking Null Values
video_games_sales.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

#### Note :- Here we are using the LableEncoder as a data cleaning or PreProcessing Technique as the Columns ( Critic_Score, Critic_Count, User_Score, User_Count, Developer, Rating ) have more than 30% of missing values so we are gonna drop those columns and will use lableEncoder for other columns containing the missing values

#### Importing LableEncoder and Calling it

In [49]:
from sklearn.preprocessing import LabelEncoder

In [50]:
le = LabelEncoder()

#### Filling the missing values in dataset using LableEncoder

In [51]:
video_games_sales['Genre'] = le.fit_transform(video_games_sales['Genre'])
video_games_sales['Publisher'] = le.fit_transform(video_games_sales['Publisher'])
video_games_sales['Platform'] = le.fit_transform(video_games_sales['Platform'])

#### Checking the DataSet

In [52]:
video_games_sales.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,26,2006.0,10,361,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,11,1985.0,4,361,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,26,2008.0,6,361,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,26,2009.0,10,361,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,5,1996.0,7,361,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

#### Identifying target variable and inputs

In [53]:
y = video_games_sales[['Global_Sales']]
x = video_games_sales[['Platform','Genre','Publisher','NA_Sales','EU_Sales','JP_Sales','Other_Sales']]

#### Importing the Library, Splitting the data & checking length of DataSet

In [54]:
## Importing the library
from sklearn.model_selection import train_test_split

In [55]:
## Splityting the data into Test and Train
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [56]:
## Checking the length of X,Y train and test
len(x_train),len(x_test),len(y_train),len(y_test)

(13375, 3344, 13375, 3344)

### Artificial Neural Network ( ANN )

### Step 1: Initialising the model and creating the input layer

In [57]:
ann = tf.keras.models.Sequential()

### Step 2: Creating the first hidden layer

In [58]:
## Considering hidden unit layers as 6
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Step 3: Creating the second hidden layer

In [59]:
## Considering hidden unit layers as 6
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Step 4: Creating the output layer

In [60]:
#The number of units in output column should be n-1, where n is the number of categories in output column
ann.add(tf.keras.layers.Dense(units=1,activation='linear'))

#### Checking for unique value in target Column

In [61]:
video_games_sales['Global_Sales'].nunique()

629

### Step 5: Compiling the model

In [62]:
ann.compile(optimizer='adam',loss='MSE',metrics='MAE')

### Note :- As the problem is of Regression Model loss and Netrice function MSE & MAE i.e Mean Square Error & Mean Absolute error is used

### Step 6: Fitting the data

In [63]:
model = ann.fit(x_train,y_train,validation_split=0.2,batch_size=32,epochs=100)

Epoch 1/100
335/335 [==============================] - 3s 4ms/step - loss: 4.5960 - MAE: 1.1431 - val_loss: 2.7821 - val_MAE: 0.6262
Epoch 2/100
335/335 [==============================] - 1s 3ms/step - loss: 1.5723 - MAE: 0.5423 - val_loss: 1.6985 - val_MAE: 0.5268
Epoch 3/100
335/335 [==============================] - 1s 3ms/step - loss: 0.8666 - MAE: 0.4032 - val_loss: 0.9220 - val_MAE: 0.2938
Epoch 4/100
335/335 [==============================] - 1s 3ms/step - loss: 0.3882 - MAE: 0.2583 - val_loss: 0.3809 - val_MAE: 0.1976
Epoch 5/100
335/335 [==============================] - 1s 3ms/step - loss: 0.1650 - MAE: 0.1692 - val_loss: 0.1683 - val_MAE: 0.1325
Epoch 6/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0947 - MAE: 0.1406 - val_loss: 0.0994 - val_MAE: 0.1113
Epoch 7/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0670 - MAE: 0.1264 - val_loss: 0.0732 - val_MAE: 0.1209
Epoch 8/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0515 - MAE: 0.1145 - val_loss: 0.0538 - val_MAE: 0.1126
Epoch 9/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0392 - MAE: 0.1037 - val_loss: 0.0394 - val_MAE: 0.0740
Epoch 10/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0303 - MAE: 0.0922 - val_loss: 0.0342 - val_MAE: 0.0899
Epoch 11/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0241 - MAE: 0.0859 - val_loss: 0.0279 - val_MAE: 0.0714
Epoch 12/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0145 - MAE: 0.0577 - val_loss: 0.0228 - val_MAE: 0.0557
Epoch 13/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0102 - MAE: 0.0488 - val_loss: 0.0229 - val_MAE: 0.0759
Epoch 14/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0080 - MAE: 0.0483 - val_loss: 0.0205 - val_MAE: 0.0711
Epoch 15/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0046 - MAE: 0.0356 - val_loss: 0.0152 - val_MAE: 0.0343
Epoch 16/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0040 - MAE: 0.0375 - val_loss: 0.0126 - val_MAE: 0.0290
Epoch 17/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0035 - MAE: 0.0357 - val_loss: 0.0214 - val_MAE: 0.0877
Epoch 18/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0032 - MAE: 0.0358 - val_loss: 0.0115 - val_MAE: 0.0212
Epoch 19/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0012 - MAE: 0.0216 - val_loss: 0.0143 - val_MAE: 0.0532
Epoch 20/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0022 - MAE: 0.0273 - val_loss: 0.0117 - val_MAE: 0.0133
Epoch 21/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0039 - MAE: 0.0418 - val_loss: 0.0119 - val_MAE: 0.0250
Epoch 22/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0016 - MAE: 0.0251 - val_loss: 0.0114 - val_MAE: 0.0101
Epoch 23/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0014 - MAE: 0.0254 - val_loss: 0.0113 - val_MAE: 0.0130
Epoch 24/100
335/335 [==============================] - 1s 3ms/step - loss: 8.4344e-04 - MAE: 0.0189 - val_loss: 0.0123 - val_MAE: 0.0330
Epoch 25/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0067 - MAE: 0.0368 - val_loss: 0.0111 - val_MAE: 0.0119
Epoch 26/100
335/335 [==============================] - 1s 3ms/step - loss: 1.8792e-04 - MAE: 0.0092 - val_loss: 0.0111 - val_MAE: 0.0082
Epoch 27/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0015 - MAE: 0.0242 - val_loss: 0.0109 - val_MAE: 0.0105
Epoch 28/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0015 - MAE: 0.0249 - val_loss: 0.0113 - val_MAE: 0.0232
Epoch 29/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0017 - MAE: 0.0257 - val_loss: 0.0117 - val_MAE: 0.0325
Epoch 30/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0047 - MAE: 0.0332 - val_loss: 0.0108 - val_MAE: 0.0107
Epoch 31/100
335/335 [==============================] - 1s 3ms/step - loss: 1.3366e-04 - MAE: 0.0082 - val_loss: 0.0107 - val_MAE: 0.0149
Epoch 32/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0014 - MAE: 0.0220 - val_loss: 0.0106 - val_MAE: 0.0148
Epoch 33/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0041 - MAE: 0.0273 - val_loss: 0.0106 - val_MAE: 0.0073
Epoch 34/100
335/335 [==============================] - 1s 3ms/step - loss: 9.4204e-04 - MAE: 0.0178 - val_loss: 0.0253 - val_MAE: 0.1059
Epoch 35/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0066 - MAE: 0.0414 - val_loss: 0.0102 - val_MAE: 0.0081
Epoch 36/100
335/335 [==============================] - 1s 3ms/step - loss: 7.0104e-05 - MAE: 0.0059 - val_loss: 0.0103 - val_MAE: 0.0136
Epoch 37/100
335/335 [==============================] - 1s 3ms/step - loss: 4.7095e-04 - MAE: 0.0156 - val_loss: 0.0107 - val_MAE: 0.0291
Epoch 38/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0016 - MAE: 0.0254 - val_loss: 0.0173 - val_MAE: 0.0734
Epoch 39/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0027 - MAE: 0.0311 - val_loss: 0.0207 - val_MAE: 0.0909
Epoch 40/100
335/335 [==============================] - 1s 3ms/step - loss: 8.8131e-04 - MAE: 0.0185 - val_loss: 0.0107 - val_MAE: 0.0233
Epoch 41/100
335/335 [==============================] - 1s 3ms/step - loss: 7.8390e-04 - MAE: 0.0191 - val_loss: 0.0099 - val_MAE: 0.0113
Epoch 42/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0064 - MAE: 0.0452 - val_loss: 0.0098 - val_MAE: 0.0087
Epoch 43/100
335/335 [==============================] - 1s 3ms/step - loss: 2.0175e-04 - MAE: 0.0087 - val_loss: 0.0126 - val_MAE: 0.0414
Epoch 44/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0070 - MAE: 0.0383 - val_loss: 0.0175 - val_MAE: 0.0779
Epoch 45/100
335/335 [==============================] - 1s 3ms/step - loss: 3.4149e-04 - MAE: 0.0099 - val_loss: 0.0098 - val_MAE: 0.0085
Epoch 46/100
335/335 [==============================] - 1s 3ms/step - loss: 1.0323e-04 - MAE: 0.0075 - val_loss: 0.0101 - val_MAE: 0.0176
Epoch 47/100
335/335 [==============================] - 1s 3ms/step - loss: 4.9220e-04 - MAE: 0.0144 - val_loss: 0.0097 - val_MAE: 0.0113
Epoch 48/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0062 - MAE: 0.0561 - val_loss: 0.0108 - val_MAE: 0.0284
Epoch 49/100
335/335 [==============================] - 1s 3ms/step - loss: 1.2553e-04 - MAE: 0.0082 - val_loss: 0.0108 - val_MAE: 0.0264
Epoch 50/100
335/335 [==============================] - 1s 3ms/step - loss: 4.4201e-04 - MAE: 0.0150 - val_loss: 0.0108 - val_MAE: 0.0230
Epoch 51/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0022 - MAE: 0.0258 - val_loss: 0.0284 - val_MAE: 0.1253
Epoch 52/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0018 - MAE: 0.0282 - val_loss: 0.0097 - val_MAE: 0.0109
Epoch 53/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0026 - MAE: 0.0317 - val_loss: 0.0111 - val_MAE: 0.0309
Epoch 54/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0012 - MAE: 0.0185 - val_loss: 0.0095 - val_MAE: 0.0142
Epoch 55/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0012 - MAE: 0.0197 - val_loss: 0.0100 - val_MAE: 0.0089
Epoch 56/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0013 - MAE: 0.0180 - val_loss: 0.0096 - val_MAE: 0.0107
Epoch 57/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0036 - MAE: 0.0418 - val_loss: 0.0142 - val_MAE: 0.0632
Epoch 58/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0010 - MAE: 0.0208 - val_loss: 0.0102 - val_MAE: 0.0202
Epoch 59/100
335/335 [==============================] - 1s 3ms/step - loss: 3.9314e-04 - MAE: 0.0129 - val_loss: 0.0102 - val_MAE: 0.0223
Epoch 60/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0045 - MAE: 0.0392 - val_loss: 0.0101 - val_MAE: 0.0222
Epoch 61/100
335/335 [==============================] - 1s 3ms/step - loss: 2.3963e-04 - MAE: 0.0108 - val_loss: 0.0096 - val_MAE: 0.0073

Epoch 62/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0016 - MAE: 0.0184 - val_loss: 0.0096 - val_MAE: 0.0152
Epoch 63/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0059 - MAE: 0.0316 - val_loss: 0.1379 - val_MAE: 0.2990
Epoch 64/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0225 - MAE: 0.0509 - val_loss: 0.0093 - val_MAE: 0.0071
Epoch 65/100
335/335 [==============================] - 1s 3ms/step - loss: 4.5489e-05 - MAE: 0.0047 - val_loss: 0.0090 - val_MAE: 0.0082
Epoch 66/100
335/335 [==============================] - 1s 3ms/step - loss: 4.7805e-05 - MAE: 0.0051 - val_loss: 0.0090 - val_MAE: 0.0079
Epoch 67/100
335/335 [==============================] - 1s 3ms/step - loss: 7.6515e-05 - MAE: 0.0065 - val_loss: 0.0086 - val_MAE: 0.0083
Epoch 68/100
335/335 [==============================] - 1s 3ms/step - loss: 9.9319e-05 - MAE: 0.0074 - val_loss: 0.0086 - val_MAE: 0.0062
Epoch 69/100
335/335 [==============================] - 1s 3ms/step - loss: 2.2670e-04 - MAE: 0.0101 - val_loss: 0.0088 - val_MAE: 0.0108
Epoch 70/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0072 - MAE: 0.0437 - val_loss: 0.0099 - val_MAE: 0.0096
Epoch 71/100
335/335 [==============================] - 1s 3ms/step - loss: 2.3683e-04 - MAE: 0.0106 - val_loss: 0.0083 - val_MAE: 0.0106
Epoch 72/100
335/335 [==============================] - 1s 3ms/step - loss: 1.6079e-04 - MAE: 0.0091 - val_loss: 0.0082 - val_MAE: 0.0074
Epoch 73/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0014 - MAE: 0.0204 - val_loss: 0.0083 - val_MAE: 0.0083
Epoch 74/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0015 - MAE: 0.0246 - val_loss: 0.0085 - val_MAE: 0.0098
Epoch 75/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0060 - MAE: 0.0411 - val_loss: 0.0073 - val_MAE: 0.0116
Epoch 76/100
335/335 [==============================] - 1s 3ms/step - loss: 6.1500e-05 - MAE: 0.0059 - val_loss: 0.0078 - val_MAE: 0.0144
Epoch 77/100
335/335 [==============================] - 1s 3ms/step - loss: 2.1859e-04 - MAE: 0.0107 - val_loss: 0.0078 - val_MAE: 0.0156
Epoch 78/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0053 - MAE: 0.0358 - val_loss: 0.0067 - val_MAE: 0.0081
Epoch 79/100
335/335 [==============================] - 1s 3ms/step - loss: 1.2065e-04 - MAE: 0.0079 - val_loss: 0.0077 - val_MAE: 0.0138
Epoch 80/100
335/335 [==============================] - 1s 3ms/step - loss: 5.3155e-04 - MAE: 0.0125 - val_loss: 0.0109 - val_MAE: 0.0128
Epoch 81/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0023 - MAE: 0.0278 - val_loss: 0.0065 - val_MAE: 0.0216
Epoch 82/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0011 - MAE: 0.0207 - val_loss: 0.0074 - val_MAE: 0.0090
Epoch 83/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0010 - MAE: 0.0219 - val_loss: 0.0066 - val_MAE: 0.0068
Epoch 84/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0021 - MAE: 0.0262 - val_loss: 0.0165 - val_MAE: 0.0841
Epoch 85/100
335/335 [==============================] - 1s 3ms/step - loss: 6.4011e-04 - MAE: 0.0167 - val_loss: 0.0072 - val_MAE: 0.0138
Epoch 86/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0026 - MAE: 0.0301 - val_loss: 0.0071 - val_MAE: 0.0103
Epoch 87/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0013 - MAE: 0.0188 - val_loss: 0.0069 - val_MAE: 0.0111
Epoch 88/100
335/335 [==============================] - 1s 3ms/step - loss: 1.6515e-04 - MAE: 0.0093 - val_loss: 0.0073 - val_MAE: 0.0238
Epoch 89/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0043 - MAE: 0.0358 - val_loss: 0.0063 - val_MAE: 0.0075
Epoch 90/100
335/335 [==============================] - 1s 3ms/step - loss: 1.1787e-04 - MAE: 0.0080 - val_loss: 0.0076 - val_MAE: 0.0077
Epoch 91/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0021 - MAE: 0.0289 - val_loss: 0.0053 - val_MAE: 0.0094
Epoch 92/100
335/335 [==============================] - 1s 3ms/step - loss: 3.3206e-04 - MAE: 0.0115 - val_loss: 0.0065 - val_MAE: 0.0299
Epoch 93/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0021 - MAE: 0.0216 - val_loss: 0.0065 - val_MAE: 0.0174
Epoch 94/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0047 - MAE: 0.0358 - val_loss: 0.0104 - val_MAE: 0.0563
Epoch 95/100
335/335 [==============================] - 1s 3ms/step - loss: 6.2144e-04 - MAE: 0.0145 - val_loss: 0.0066 - val_MAE: 0.0064
Epoch 96/100
335/335 [==============================] - 1s 3ms/step - loss: 3.0868e-04 - MAE: 0.0118 - val_loss: 0.0089 - val_MAE: 0.0581
Epoch 97/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0018 - MAE: 0.0263 - val_loss: 0.0145 - val_MAE: 0.0823
Epoch 98/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0012 - MAE: 0.0204 - val_loss: 0.0093 - val_MAE: 0.0621
Epoch 99/100
335/335 [==============================] - 1s 3ms/step - loss: 0.0022 - MAE: 0.0277 - val_loss: 0.0067 - val_MAE: 0.0206
Epoch 100/100
335/335 [==============================] - 1s 3ms/step - loss: 8.9688e-04 - MAE: 0.0199 - val_loss: 0.0061 - val_MAE: 0.0244

### Prediction on Test Data

In [64]:
y_test['Prediction'] = ann.predict(x_test)

105/105 [==============================] - 0s 2ms/step

In [65]:
y_test

       Global_Sales  Prediction
6991           0.23    0.260938
16195          0.01    0.021510
9862           0.12    0.155501
11152          0.09    0.117765
8642           0.16    0.163074
...             ...         ...
2452           0.84    0.848212
1237           1.52    1.535399
11784          0.07    0.099101
16325          0.01    0.031394
12077          0.07    0.069119

[3344 rows x 2 columns]

### Note :- As the problem is of regression the Accuracy cannot be predicted. It Can be calculated on the basic of MAE & val_MAE

                            - - - - - - - - X X X X X X X X - - - - - - - -